#main_deck_card {
  padding: 6px;
  background-color: #000000;
  border-radius: 20px;
  padding-bottom: 20px;
}

#remove {
  margin-left: 10px;
  background-color: #000000;
  transition: background-color 500ms 0ms;
}

#remove:hover {
  background-color: red;
  outline-color: red;
}

#item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
